<ul>
  <% @projects.each do |project| %>
    <li>
      <%= project.name %>
      <% if project.description.present? %>
       - <%= project.description %>
      <% end %>
    </li>
  <% end %>
</ul>
